.contenedorTarjeta {
  width: 20%;
  box-sizing: border-box;
  margin: 2.5%;
  float: left;
}
.card-actions {
  margin-left: 0%;
}

.imgMateria {
  background-size: cover;
}

.btnAgregar {
  margin: 2.5% 0% 0% 2.5%;
  float: left;
}