<section>
  <h3>Para esta semana</h3>
  <section>
    <mat-card class="contenedorTarjeta" *ngFor="let evento of agendaSemana">
      <mat-card-header>
        <div mat-card-avatar class="imgMateria" id="avatar"></div>
        <mat-card-title> {{evento.Titular == undefined ? evento.NombreEvaluacion : evento.Titular}} </mat-card-title>
        <mat-card-subtitle> {{evento.Materia}} - {{evento.FechaEntrega == undefined ? evento.Formato : evento.FechaEntrega| date:"dd/MM/yy"}}</mat-card-subtitle>
        <mat-card-subtitle> {{evento.Fecha == undefined ?  evento.FormatoPresentacion + " - " :  evento.Fecha| date:"dd/MM/yy"}}  {{evento.Tipo == undefined ? "" : evento.Tipo}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{evento.Descripcion == undefined ? evento.Temas : evento.Descripcion}}
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions" *ngIf="evento.Titular != undefined">
        <button mat-button [routerLink]="['/tareas/editar/', evento.id]" alt="Editar">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
        <button mat-button (click)="borrarTarea(evento.id)" alt="Terminar">
          <mat-icon class="mat-18">done</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-actions class="card-actions" *ngIf="evento.NombreEvaluacion != undefined">
          <button mat-button [routerLink]="['/evaluaciones/editar/', evento.id]" alt="Editar">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          <button mat-button (click)="eliminarEvaluacion(evento.id)" alt="Terminar">
            <mat-icon class="mat-18">done</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
  </section>
  
  <mat-divider mat-inset></mat-divider>
  