<mat-card class="contenedorTarjeta  ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Nombre Materia </mat-card-title>
      <mat-card-subtitle> Propósito del Grupo - Tipo Grupo </mat-card-subtitle>
  
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h3>Miembros</h3>
      <ul>
        <li>Miembro 1</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button>
        <mat-icon class="mat-18">edit</mat-icon>
      </button>
      <button mat-button>
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </mat-card-actions >  
  </mat-card>