.contenedorTarjeta {
    max-width: 20%;
    box-sizing: border-box;
    margin: 2.5%;
    float: left;
  }
.example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
}
.card-actions{
  margin-left: 0%;
}
.btnAgregar{
  margin: 2.5% 0% 0% 02.5%;
  float: left;
}