<section>
  <span class="titulo">OrganizaT</span>
  <br>
  <mat-divider mat-inset></mat-divider>
  <ul>
    <li *ngIf="errorInicio" class="error">El usuario/correo o contraseña no son correctos</li>
    <li *ngIf="correo.touched && !correo.valid && !errorInicio " class="error">Ingrese su correo o nombre de usuario.
    </li>
    <li *ngIf="clave.touched && !clave.valid && !errorInicio" class="error">Ingrese su clave.</li>
  </ul>
  <br>
  <form action="">
    <mat-form-field>
      <input matInput placeholder="Correo / Nombre de Usuario" [(ngModel)]="usuario.Correo" name="correo"
        #correo="ngModel" autofocus required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Clave" [(ngModel)]="usuario.Clave" name="clave" #clave="ngModel"
        required>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" (click)="iniciarSesion()"
        [disabled]="!correo.valid && !clave.valid">Iniciar Sesión</button>
    </div>
    <div class="enviar">
      <span class="subtexto">¿No tienes cuenta? <a [routerLink]="['/registro/']"> <span
            class="detalle">Registrate...</span> </a> </span>
    </div>
  </form>
</section>