<div style="display: flex; flex-direction: row" id="nav">
  <button mat-raised-button color="warn" class="btnAgregar" [routerLink]="['/tareas/agregar']" >Agregar Nueva Tarea</button>
</div>

<mat-card class="contenedorTarjeta" *ngFor="let tarea of tareas">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{tarea.Titular}} </mat-card-title>
    <mat-card-subtitle> {{tarea.FechaEntrega| date:"dd/MM/yy"}}</mat-card-subtitle>
    <mat-card-subtitle> {{tarea.FormatoPresentacion}} - {{tarea.Tipo}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{tarea.Descripcion}}
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button>
      <mat-icon class="mat-18">edit</mat-icon>
    </button>
    <button mat-button>
      <mat-icon class="mat-18">done</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>