<mat-card class="contenedorTarjeta  ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> Titular de la evaluación </mat-card-title>
    <mat-card-subtitle> Formato de evaluación - Tipo </mat-card-subtitle>

  </mat-card-header>
  <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
  <mat-card-content>
    <p>
      Aquí se encontrará la descripción de las evaluaciones
    </p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <p>
      Fecha de la evaluación:
    </p>
  </mat-card-footer>
</mat-card>