.ContenedorGeneral {
    width: auto;
    box-sizing: border-box;
    height: 100%;
    
  }
#BarNav{
    height: 100%;
    border: solid;

}
mat-drawer{
    padding-top: 2%;
    width: 15%;
}
#usSideBar{
    box-sizing: border-box;
    text-align: center;
    padding: 10%;
    width: 100%;
}
#imgSideBar{
    position: relative;
    width: 70%;
    margin: auto;
    border-radius: 100%;
}
/* Estos estilos afectan a la barra de navegación  lateral */
#lateral{
    box-sizing: border-box;
    border-right: solid;
    border-width: 1px;
    border-color: #CCC;
    font-family: "Coolvetica";
    height: 100%;
    position: fixed;
    padding: 0%;
    margin: 0px;
    width: 15%;
}

a{
    text-decoration: none;
    color: inherit;
}

article{
    background-color: rgb(113,168,39);
    box-sizing: border-box;
    color: #FFF;
    padding: 15%;
    text-align: center;
    width: 100%;
}
article > img{
    border-radius: 100%;
    width: 45%;
}
ul{
    list-style: none;
    padding: 0%;
    margin-top: 0%;
}
li{
    border-bottom: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: #CCC;
    font-size: 125%;
    font-weight: bold;
    height: 5%;
    margin: 0%;
    padding: 10% 10%;
    width: 100%;
}
h3{
    font-size: 90%;
    margin: 0%;
    color: #555;
}
