<mat-drawer-container class="ContenedorGeneral" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="side" id="barNav" opened>
    <!-- Contenido de la sidebar -->
    <mat-list>
      <div id="usSideBar" >
        <img src="../../assets/img/fotoperfil.jpeg" alt="Imagen de Perfil" id="imgSideBar">
        <h1 class="mat-title">Oscar Quintanilla</h1>
      </div> 
      <mat-divider></mat-divider>
      <mat-list-item>Inicio</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tareas</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Evaluaciones</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Materias</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Grupos</mat-list-item>
    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <!-- Contenido de la toolbar -->
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>OrganizaT</span>
    </mat-toolbar>

  </mat-drawer-content>
</mat-drawer-container>