<mat-drawer-container class="ContenedorGeneral" 
[hasBackdrop]="false"
>
  <mat-drawer #drawer mode="side" id="barNav" 
  (opened) = "sesionIniciada" (closed) = "sesionIniciada"
  >
    <!-- Contenido de la sidebar -->
    <mat-list>
      <a [routerLink]="['/perfil']">
        <div id="usSideBar">
          <img src="../../assets/img/{{usuario.Imagen == '' ? 'sinfoto.png' : usuario.Imagen}} " alt="Imagen de Perfil" id="imgSideBar">
          <h1 class="mat-title"> {{usuario.Nombre}} {{usuario.Apellido}} </h1>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/inicio']" [routerLinkActive]="['activo']">
        <mat-list-item class="item">
          <mat-icon class="mat-18">home</mat-icon>
          <p>Inicio</p>
        </mat-list-item>
      </a>
      <a [routerLink]="['/tareas']" [routerLinkActive]="['activo']">
        <mat-list-item class="item">
          <mat-icon class="mat-18">assignment</mat-icon> Tareas
        </mat-list-item>
      </a>
      <a [routerLink]="['/evaluaciones']" [routerLinkActive]="['activo']">
        <mat-list-item class="item">
          <mat-icon class="mat-18">date_range</mat-icon> Evaluaciones
        </mat-list-item>
      </a>
      <a [routerLink]="['/materias']" [routerLinkActive]="['activo']">
        <mat-list-item class="item">
          <mat-icon class="mat-18">apps</mat-icon> Materias
        </mat-list-item>
      </a>
      <a [routerLink]="['/grupos']">
        <mat-list-item class="item">
          <mat-icon class="mat-18">group</mat-icon> Grupos
        </mat-list-item>
      </a>
      <mat-list-item class="item" (click) = "cerrarSesion()" (click) = "drawer.close()" >
        <mat-icon class="mat-18">highlight_off</mat-icon> Cerrar Sesión
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Contenido de la toolbar -->
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="sesionIniciada">
        <mat-icon>menu</mat-icon>
      </button>
      <span>OrganizaT</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>