<div id="lateral">
  <article>
    <img src="../../assets/img/fotoperfil.jpeg" alt="fotoperfil">
    <h1>Nombre de usuario</h1>
  </article>
  <ul>
    <li>Inicio <br><h3>Resumen de tu calendario...</h3></li>
    <li>Tareas <br><h3>Agrega o revisa tus tareas...</h3></li>
    <li>Evaluaciones <br><h3>Controla tus fechas de evaluación...</h3></li>
    <li>Materias <br><h3>Registra las materias que estás cursando...</h3></li>
    <li>Grupos <br><h3>No olvides quienes están en tu grupo...</h3></li>
  </ul>  
</div>
