<div id="arts">
    <mat-card id="form">
        <mat-card-title>
            Tarea
        </mat-card-title>
        <mat-form-field class="example-full-width">
            <input matInput required placeholder="Titulo de la Tarea" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput required placeholder="Descripción" rows="3"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-select required placeholder="Tipo de tarea">
                <mat-option value="individual">
                    Individual
                </mat-option>
                <mat-option value="grupal">
                    Grupal
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-card>
    <mat-card id="previa">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>